{% extends 'base.html' %}
{% block header %}
    <h1>
        {% block title %}Edit Books{% endblock %}
    </h1>
{% endblock %}
{% block content %}
       <div id="edit">
       <form id="Edit_Book" action="/edit_book/{{ data[0].idBook }}" method="post">
            <legend>
                <strong>Edit Book</strong>
            </legend>
            <fieldset>
                <label for="title">Title</label>
                <input type="text" name="title" value="{{ data[0].title }}" required>
            </input>
            <br>
            <label for="make">First name:</label>
            <input type="text" name="firstName" value="{{ data[0].firstName }}" required>
               </input>
               <br>
               <label for="name">Last Name</label>
               <input type="text"
                      name="lastName"
                      placeholder="Last name"
                      value="{{ data[0].lastName }}"
                      required>
           </input>
           <br>
           <label for="isbn">ISBN</label>
           <input type="text"
                  name="isbn"
                  placeholder="xxx-x-xx-xxxxxx-x"
                  value="{{ data[0].isbn }}"
                  pattern="[0-9]{3}-[0-9]{1}-[0-9]{2}-[0-9]{6}-[0-9]{1}"
                            title="xxx-x-xx-xxxxxx-x"
                            required>
            </input>
            <br>
           <label for="publisher">Publisher</label>
           <input type="text"
                  name="publisher"
                  placeholder="publisher"
                  value="{{ data[0].publisher }}"
                  required>
            </input>
              <br>
              <label for="publicationYear">publicationYear</label>
              <input type="text"
                     name="publicationYear"
                     placeholder="publicationYear"
                     value="{{ data[0].publicationYear }}"
                     pattern="\d{4}"
                     title="####"
                     required>
              </input>
              <br>
              <label for="newStock">New Stock</label>
              <input type="number"
                     name="newStock"
                     placeholder="newStock"
                     min="0"
                     value="{{ data[0].newStock }}"
                     required>
              </input>
              <br>
              <label for="newPrice">New Price</label>
              <input type="number"
                     name="newPrice"
                     placeholder="newPrice"
                     value="{{ data[0].newPrice }}"
                     min="0"
                     step="0.01"
                     required>
              </input>
              <br>
              <label for="usedStock">used Stock</label>
              <input type="number"
                     name="usedStock"
                     placeholder="usedStock"
                     min="0"
                     value="{{ data[0].usedStock }}"
                     required>
              </input>
              <br>
              <label for="usedPrice">Used Price</label>
              <input type="number"
                     name="usedPrice"
                     placeholder="usedPrice"
                     value="{{ data[0].usedPrice }}"
                     min="0"
                     step="0.01"
                     required>
              </input>
              <br>
              <input type="submit" name="Edit_Book" value="Edit_Book" class="btn">
            <a href="/books"><button type="button">Cancel</button></a>
        </form>
       </div>
{% endblock %}
