{% extends 'base.html' %}
{% block header %}
<h1>
    {% block title %}Edit Customer{% endblock %}
</h1>
{% endblock %}
{% block content %}

<div>
    <table class="table">
        <thead>
            <tr>
                <th class="table_cell">Customer ID</th>
                <th class="table_cell">First Name</th>
                <th class="table_cell">Last Name</th>
                <th class="table_cell">Email</th>
                <th class="table_cell">Phone number</th>
                <th class="table_cell">Street Address</th>
                <th class="table_cell">City</th>
                <th class="table_cell">State</th>
                <th class="table_cell">Zip Code</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table_cell">{{data[0].idCustomer}}</td>
                <form method="post">
                    <td class="table_cell">
                        <input type="text" name="firstName" placeholder="First name" value="{{ data[0].firstName }}"
                            required></input>
                    </td>

                    <td class="table_cell">
                        <input type="text" name="lastName" placeholder="Last name" value="{{ data[0].lastName }}"
                            required></input>
                    </td>

                    <td class="table_cell">
                        <input type="email" name="email" placeholder="Email" value="{{ data[0].email}}"
                            required></input>
                    </td>

                    <td class="table_cell">
                        <input type="text" name="phoneNumber" placeholder="(xxx)-xxx-xxx"
                            value="{{ data[0].phoneNumber}}" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="###-###-####"
                            required></input>
                    </td>

                    <td class="table_cell">
                        <input type="text" name="addressStreet" placeholder="addressStreet"
                            value="{{ data[0].addressStreet }}" required></input>
                    </td>

                    <td class="table_cell">
                        <input type="text" name="addressCity" placeholder="addressCity"
                            value="{{ data[0].addressCity }}" required></input>
                    </td>

                    <td class="table_cell">
                        <input type="text" name="addressState" placeholder="addressState"
                            value="{{ data[0].addressState }}" pattern="[A-Z]{2}"
                            title="State Abbreviation (ie. CA for California)" required></input>
                    </td>

                    <td class="table_cell">
                        <input type="text" name="addressZip" placeholder="number" value="{{ data[0].addressZip}}"
                            pattern="\b\d{5}\b" title="#####" required></input>
                    </td>
                    <td>
                        <input type="submit" name="Edit_Customer" value="Submit" class="btn">
                        <br>
                        <a href="/books"><button type="button">Cancel</button></a>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}