tr:nth-child(even) {
    background-color: #e5e5e5;
}

.table {
    margin: 1rem;
    border: 1px solid black;
 
}

.table_header {
    text-align: left;
    border: 1px solid black;

}

.table_cell {
    padding: 8px;
    border: 1px solid black;

}


#create {
    display: none;
}

#update {
    display: none;
}

#delete {
    display: none;
}
