<!doctype html>
<title>{% block title %}{% endblock %}</title>
<section class="content">
    <header>
        <link rel="stylesheet" href="/static/styles.css"/>
        <script src="/static/script.js"></script>
    </header>
    <ul>
        <li><a href="/">Beaver Bookstore</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/order_details">Order Details</a></li>
        <li><a href="/coupons">Coupons</a></li>
    </ul>
    {% block header %}{% endblock %}
{% block content %}{% endblock %}
</section>