{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %} Coupons {% endblock %}</h1>
{% endblock %}
{% block content %}


<table id="browse" class="table">
    <thead>

        <tr>
            <th class="table_cell">    
            <input type="button" class="new" onclick="newOrder()" value="New">
            </th>
            <th class="table_cell">Coupon ID</th>
            <th class="table_cell">Expiration Date</th>
            <th class="table_cell">Discount Code</th>
            <th class="table_cell">Discount Percent</th>
        </tr>

    </thead>

    <tbody>
    {% for item in orders %}

        <tr>
            <td class="table_cell"></td>

            {%for key in item.keys() %}
            <td class="table_cell"> {{item[key]}}</td>
            {% endfor %}

            <td class="table_cell">
            <input type="button" class="edit" onclick="updateOrder()" value="Edit">
            <input type="button" class="delete" onclick="deleteOrder()" value="Delete">
            </td>
        </tr>

        {% endfor %}
    </tbody>






</table>








{% endblock %}