{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %} Coupons {% endblock %}</h1>
{% endblock %}
{% block content %}


<table id="browse" class="table">
    <thead>

        <tr>

            <th class="table_cell">Coupon ID</th>
            <th class="table_cell">Expiration Date</th>
            <th class="table_cell">Discount Code</th>
            <th class="table_cell">Discount Percent</th>
        </tr>

    </thead>

    <tbody>
    {% for item in coupons %}

        <tr>

            {%for key in item.keys() %}
            <td class="table_cell"> {{item[key]}}</td>
            {% endfor %}

        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}