{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %} Beaver Bookstore {% endblock %}</title>
{% endblock %}
{% block content %}
    <p>Welcome to our bookstore where you can purchase and write reviews on books</p>
{% endblock %}
</html>