{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %} Orders {% endblock %}</h1>
{% endblock %}
{% block content %}

<table id="browse" class="table">
    <thead>

        <tr>
            <th class="table_cell">    
            <input type="button" class="new" onclick="newOrder()" value="New">
            </th>
            <th class="table_cell">Order ID</th>
            <th class="table_cell">First Name</th>
            <th class="table_cell">Last Name</th>
            <th class="table_cell">Order Date</th>
            <th class="table_cell">Order Total</th>

        </tr>

    </thead>

    <tbody>
    {% for item in orders %}

        <tr>
            <td class="table_cell"></td>

            {%for key in item.keys() %}
            <td class="table_cell"> {{item[key]}}</td>
            {% endfor %}

            <td class="table_cell">
                <form>
                    <button formaction="edit_orders/{{ item['idOrder'] }}" type="submit">Edit</button>
                    <button formaction="delete_orders/{{ item['idOrder'] }}" type="submit">Delete</button>
                </form>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

<div id="create" >
    <form method="POST">
        <fieldset>
            <legend>
                <h2>Add a Order</h2>
            </legend>
            <label>Full Name:</label>
            
            <select id="fname" name="fullName">
                {% for item in customers %}
                    <option value= "{{ item['idCustomer'] }}"> {{item['firstName']}} {{item['lastName']}}</option>
                {% endfor %}
            </select>

            <label>Date:</label>
            <input name= "orderDate" type="date">
            <label> Order Total</label>
            <input type="number" name="orderTotal" placeholder="Order Total" step="any">
            
            <input name="Add_Order" type="submit" class="submit" value="Submit">
            <input type="button" id="cancel" onclick="cancelOrder()" value="Cancel">
        </fieldset>
    </form>
</div>

{% endblock %}