{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %} Order Details {% endblock %}</h1>
{% endblock %}
{% block content %}

<table id = 'browse' class="table">
    <thead>
    <tr>
        <th class="table_cell">    
            <input type="button" class="new" onclick="newOrder()" value="New">
        </th>
        <th class="table_cell">Order-Details ID</th>
        <th class="table_cell">Order ID</th>
        <th class="table_cell">Book Title</th>
        <th class="table_cell">Order Type</th>
        <th class="table_cell">Order Quantity</th>
        <th class="table_cell">Order Price</th>
        <th class="table_cell">Coupon ID</th>
        <th class="table_cell">Discounted Price</th>
        
    </tr>
    <tbody id = "tbody">
    {% for item in orderDetails %}

        <tr id="row_{{ item['orderDetailsID'] }}">
            <td class="table_cell"></td>

            {%for key in item.keys() %}
            <td class="table_cell"> {{item[key]}}</td>
            {% endfor %}

            <td class="table_cell">
                <input type="button" class="edit" onclick="updateOrder()" value="Edit">
                {# <input type="button" class="delete" onclick="deleteOrder()" value="Delete"> #}
            <form>
                <button formaction="delete_order_details/{{ item['orderDetailsID'] }}" type="submit" class="delete" value="Delete">Delete</button>
            </form>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

<div id = 'create' style="display:none;" >
    <form method="POST">
        <fieldset>
                <legend>
                    <h2> Add an Order-Books </h2>
                </legend>
                <label> Order ID </label>
                <select name = "idOrder" id="orderID" name="orderID">
                    {% for item in orders %}
                        <option  value= "{{ item['idOrder'] }}"> {{item['idOrder']}} </option>
                    {% endfor %}
                </select>
                <label> Book Title </label>
                <select name="idBook" id="bookID" name="bookID">
                    {% for item in books %}
                    <option  value= "{{ item['idBook'] }}" >{{item['title']}}</option>
                    {% endfor %}
                </select>
                <label>Order Type: </label>
                    <select name = "orderType" id="orderType">
                        <option  value="purchase"> purchase </option>
                        <option  value="sale"> sale </option>
                    </select>
                <label> Order Quantity: </label>
                <input name="orderQty" type="number">
                <label> Order Price: </label>
                <input name="orderPrice" type="number" step="0.01" >
                <label> Coupon ID: </label>
                    <select name = "idCoupon" id="couponID">
                        <option value = 0 >NULL</option>
                        {% for item in coupons %}
                            <option value ="{{ item['idCoupon'] }}">{{item['idCoupon']}}</option>
                        {% endfor %}
                    </select>
                <label> Discounted Price: </label>
                <input name= "discountedPrice" type="number" step="0.01">
            
        </fieldset>

        <input name="Add_Order_Details"type="submit" class="submit" onclick="" value="Submit">
        <input type="button" id="cancel" onclick="cancelOrder()" value="Cancel">
    </form>
</div>

<div id = 'update' style="display:none;">

    <legend>
    <h2> Update an Order-Books </h2>
    </legend>
    
    <fieldset>
        <label> orderDetailsID: 1 </label>
        <label> Order ID </label>
        <input type="number" name="orderID">
        <label> Book Title </label>
        <select id="orderID" name="orderID">
            {% for item in books %}
            <option value= "{{title}}"> {{item['title']}} </option>
            {% endfor %}
        </select>
        <label>Order Type: </label>
        <select id="orderType">
            <option value="{{ request.form['orderType'] }}"> purchase </option>
            <option value="{{ request.form['orderType'] }}"> sale </option>
        </select>
        <label> Order Quantity </label>
        <input type="number" name="orderQty">
        <label> Order Price: </label>
        <input value="{{orderPrice}}" type="number" name="orderPrice" step=any>
        <label> Coupon ID: </label>
            <select id="couponID">
                <option value = NULL > NULL</option>
                {% for item in coupons %}
                    <option value= "{{idCoupon}}">{{item['idCoupon']}}</option>
                {% endfor %}
            </select>
        <label> Discounted Price: </label>
        <input value="{{discountedPrice}}" type="number" step=any>
    </fieldset>

    <input type="button" class="submit" onclick="" value="Submit">
    
    <input type="button" id="cancel" onclick="cancelOrder()" value="Cancel">

</div>

{# <div id = 'delete'>

    <p> Are you sure you wish to delete the following row from the database? </p>

    <table class = 'table'>
    <thead>
        <tr>
            
            <th class="table_cell">Order-Details ID</th>
            <th class="table_cell">Order ID</th>
            <th class="table_cell">Book Title</th>
            <th class="table_cell">Order Type</th>
            <th class="table_cell">Order Quantity</th>
            <th class="table_cell">Order Price</th>
            <th class="table_cell">Coupon ID</th>
            <th class="table_cell">Discounted Price</th>
            
        </tr>
    </thead>
    <tbody>
        

    </tbody>
 






    <input type="button" class="submit" onclick="" value="Submit">
    <input type="button" id="cancel" onclick="cancelOrder()" value="Cancel">

</div> #}
{#
<input type="button" id="all" onclick="showAll()" value="Show All">
<input type="button" id="hide" style="display: none;" onclick="hideAll()" value="Hide All">
#}
{% endblock %}