{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %} Order Details {% endblock %}</h1>
{% endblock %}
{% block content %}

<table id = 'browse' class="table">
    <thead>
    <tr>
        <th class="table_cell">    
            <input type="button" class="new" onclick="newOrder()" value="New">
        </th>
        <th class="table_cell">Order-Details ID</th>
        <th class="table_cell">Order ID</th>
        <th class="table_cell">Book Title</th>
        <th class="table_cell">Order Type</th>
        <th class="table_cell">Order Quantity</th>
        <th class="table_cell">Order Price</th>
        <th class="table_cell">Coupon ID</th>
        <th class="table_cell">Discounted Price</th>
        
    </tr>
    <tbody>
    {% for item in orderDetails %}

        <tr>
            <td class="table_cell"></td>

            {%for key in item.keys() %}
            <td class="table_cell"> {{item[key]}}</td>
            {% endfor %}

            <td class="table_cell">
            <input type="button" class="edit" onclick="updateOrder()" value="Edit">
            <input type="button" class="delete" onclick="deleteOrder()" value="Delete">
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

<div id = 'create' style="display:none;">

   
    
    <fieldset>
        <legend>
            <h2> Add an Order-Books </h2>
        </legend>
        <label> Order ID </label>
        <select id="orderID" name="orderID">
            {% for item in orders %}
            <option value= "{{idOrder}}"> {{item['idOrder']}} </option>
            {% endfor %}
        </select>
        <label> Book Title </label>
        <select id="orderID" name="orderID">
            {% for item in books %}
            <option value= "{{title}}"> {{item['title']}} </option>
            {% endfor %}
        </select>
        <label>Order Type: </label>
            <select id="orderType">
                <option value="{{ request.form['orderType'] }}"> purchase </option>
                <option value="{{ request.form['orderType'] }}"> sale </option>
            </select>
        <label> Order Quantity: </label>
        <input value="{{orderQty}}"type="number" name="orderQty">
        <label> Order Price: </label>
        <input value="{{orderPrice}}" type="number" name="orderPrice">
        <label> Coupon ID: </label>
            <select id="couponID">
                {% for item in coupons %}
                    <option value= "{{idCoupon}}">{{item['idCoupon']}}</option>
                {% endfor %}
            </select>
        <label> Discounted Price: </label>
        <input value="{{discountedPrice}}" type="number">
    </fieldset>

    <input type="button" class="submit" onclick="" value="Submit">
    
    <input type="button" id="cancel" onclick="cancelOrder()" value="Cancel">

</div>

<div id = 'update' style="display:none;">

    <legend>
    <h2> Update an Order-Books </h2>
    </legend>
    
    <fieldset>
        <label> orderDetailsID: 1 </label>
        <label> Order ID </label>
        <input type="number" name="orderID">
        <label> Book Title </label>
        <select id="orderID" name="orderID">
            {% for item in books %}
            <option value= "{{title}}"> {{item['title']}} </option>
            {% endfor %}
        </select>
        <label>Order Type: </label>
        <select id="orderType">
            <option value="{{ request.form['orderType'] }}"> purchase </option>
            <option value="{{ request.form['orderType'] }}"> sale </option>
        </select>
        <label> Order Quantity </label>
        <input type="number" name="orderQty">
        <label> Order Price: </label>
        <input value="{{orderPrice}}" type="number" name="orderPrice">
        <label> Coupon ID: </label>
            <select id="couponID">
                <option value = NULL > NULL</option>
                {% for item in coupons %}
                    <option value= "{{idCoupon}}">{{item['idCoupon']}}</option>
                {% endfor %}
            </select>
        <label> Discounted Price: </label>
        <input value="{{discountedPrice}}" type="number">
    </fieldset>

    <input type="button" class="submit" onclick="" value="Submit">
    
    <input type="button" id="cancel" onclick="cancelOrder()" value="Cancel">

</div>

<div id = 'delete' style="display:none;">

    <legend>
    <h2> Delete an Order-Books </h2>
    </legend>
    
    <fieldset>
        {# TODO
        NEED TO IMPLEMENT QUERY  #}
        <p> Are you sure you want to delete the following review?</p>
        <label> orderDetailsID: 1 </label>
        <label> Order ID : 1 </label>
        <label> Book Title: Moonwalking with Einstein </label>
        <label> Order Type: purchase</label>
        <label> Order Quantity: 3</label>
        <label> Order Price: 29.37</label>
        <label> Coupon ID: None </label>
        <label> Discounted Price: 29.37 </label>
      
        
    </fieldset>

    <input type="button" class="submit" onclick="" value="Submit">
    
    <input type="button" id="cancel" onclick="cancelOrder()" value="Cancel">

</div>

<br>
<input type="button" id="all" onclick="showAll()" value="Show All">
<input type="button" id="hide" style="display: none;" onclick="hideAll()" value="Hide All">
{% endblock %}