{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %} Reviews {% endblock %}</h1>
{% endblock %}
{% block content %}
<table id = 'browse' class="table">
    <thead>
        <tr>
            <th class="table_cell">    
                <input type="button" class="new" onclick="newOrder()" value="New">
            </th>
            <th class="table_cell">Review ID</th>
            <th class="table_cell">First Name</th>
            <th class="table_cell">Last Name</th>
            <th class="table_cell">Book Title</th>
            <th class="table_cell">Post Title</th>
            <th class="table_cell">Body</th>
            <th class="table_cell">Stars</th>
        </tr>
    </thead>
    <tbody>
        {% for item in reviews %}

        <tr>
            <td class="table_cell"></td>

            {%for key in item.keys() %}
                <td class="table_cell"> {{item[key]}}</td>
            {% endfor %}

            <td class="table_cell">
            <form> 
                <button formaction="edit_reviews/{{ item['idReview'] }}" type="submit">Edit</button>
                <button formaction="delete_reviews/{{ item['idReview'] }}" type="submit">Delete</button>
            </form>
            </td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>


<div id = 'create'>
    <form id="addReview" method="POST">
        <legend>
            <h2>Add a Review</h2>
        </legend>
       <fieldset> 
            <label>Full Name:</label>
                
            <select id="fname" name="idCustomer">
                {% for item in customers %}
                    <option value= "{{ item['idCustomer'] }}"> {{item['firstName']}} {{item['lastName']}}</option>
                {% endfor %}
            </select>

            <br> 

            <label>Title:</label>

            <select id="bookTitle" name="idBook">
                {% for item in books %}
                    <option value="{{ item['idBook'] }}"> {{item['title']}}</option>
                {% endfor %}
            </select>

            <br>
            <label> Post Title: </label>
            <input name="postTitle" type="text" placeholder="Title.." >
            <br> 
            <label> Body: </label>
            <br>
            <textarea name="postBody" rows="4" cols="50" placeholder="Post your comment here!" ></textarea>
            <br>
            <label>Stars </label>
            <select name="stars" id="stars">
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
                <option value="3"> 3 </option>
                <option value="4"> 4 </option>
                <option value="5"> 5 </option>
            </select>
            <br>

            <input name="Add_Review" type="submit" class="submit" value="Submit">
            <input type="button" id="cancel" onclick="cancelOrder()" value="Cancel">
    </form>
</div>


{% endblock %}